<div class="authentication">
  <input class="auth_field_email" type="text"  placeholder="Email">
  <input class="auth_field_pass" type="text"  placeholder="Password">
  <button class="auth_button">Login</button>
  <p class="authorized"><p>
  <button class="logout_button">Logout</button>
</div>
<script src="/scripts/auth.js"></script>