<div class="authentication">
  <input class="auth_field" type="text"  placeholder="Username">
  <input class="auth_field" type="text"  placeholder="Password">
  <button class="auth_button">Login</button>
</div>