<main>
  <h3>Примеры лучших фотографий</h3>
  <div class="container">
    <section class="section">
      <img src="images/photo1.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Bettina Dupont</h2>
        <h2 class="art-name">"TÉMOIN DU TEMPS 3/3"</h2>
        <p class="art-desc">Фотография | 125x100 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/photo2.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Wolfgang Uhlig</h2>
        <h2 class="art-name">"CORDOAMA"</h2>
        <p class="art-desc">Фотография | 120x160 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/photo3.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Ann Ray</h2>
        <h2 class="art-name">"ELLE"</h2>
        <p class="art-desc">Фотография | 54x36 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/photo4.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Marta Lesniakowska</h2>
        <h2 class="art-name">"BARBIE VACATION. FROM THE SERIES AFRICA # 29"</h2>
        <p class="art-desc">Фотография | 40x40 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/photo5.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Dmitry Ersler</h2>
        <h2 class="art-name">"THE IMMORTALITY."</h2>
        <p class="art-desc">Фотография | 78,7x58,4 cm</p>
      </div>
    </section>
  </div>
  <h3>Фотографии, доступные для покупки</h3>
  <div class="download-preloader">
    <h3>Идет загрузка фотографий ... </h3>
    <img src="images/giphy.gif">
  </div>
  <div class="available-photos">
  </div>
  <h3>Ваша корзина</h3>
  <div class="items-bag">
  </div>
  <div class="final-buttons">
    <button class="clear-button">Очистить корзину</button>
    <button class="create-order">Создать заказ</button>
  </div>
  <script src="/scripts/photos.js"></script>
</main>