<main>
  <div class="container">
    <section class="section">
      <img src="images/photo1.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Bettina Dupont</h2>
        <h2 class="art-name">"TÉMOIN DU TEMPS 3/3"</h2>
        <p class="art-desc">Фотография | 125x100 cm</p>
      </div>
      <div class="price">
        <h2 class="digit-price">10274€</h2>
        <img src="images/cart_2.jpg" class="price-icon">
      </div>
    </section>

    <section class="section">
      <img src="images/photo2.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Wolfgang Uhlig</h2>
        <h2 class="art-name">"CORDOAMA"</h2>
        <p class="art-desc">Фотография | 120x160 cm</p>
      </div>
      <div class="price">
        <h2 class="digit-price">4758€</h2>
        <img src="images/cart_2.jpg" class="price-icon">
      </div>
    </section>

    <section class="section">
      <img src="images/photo3.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Ann Ray</h2>
        <h2 class="art-name">"ELLE"</h2>
        <p class="art-desc">Фотография | 54x36 cm</p>
      </div>
      <div class="price">
        <h2 class="digit-price">6685€</h2>
        <img src="images/cart_2.jpg" class="price-icon">
      </div>
    </section>

    <section class="section">
      <img src="images/photo4.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Marta Lesniakowska</h2>
        <h2 class="art-name">"BARBIE VACATION. FROM THE SERIES AFRICA # 29"</h2>
        <p class="art-desc">Фотография | 40x40 cm</p>
      </div>
      <div class="price">
        <h2 class="digit-price">2255€</h2>
        <img src="images/cart_2.jpg" class="price-icon">
      </div>
    </section>

    <section class="section">
      <img src="images/photo5.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Dmitry Ersler</h2>
        <h2 class="art-name">"THE IMMORTALITY."</h2>
        <p class="art-desc">Фотография | 78,7x58,4 cm</p>
      </div>
      <div class="price">
        <h2 class="digit-price">1832€</h2>
        <img src="images/cart_2.jpg" class="price-icon">
      </div>
    </section>
  </div>
</main>