<main>
  <h3>Примеры лучших изображений</h3>
  <div class="container">
    <section class="section">
      <img src="images/pic2.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Peter Duhaj</h2>
        <h2 class="art-name">"PIGEON WOMAN (LOVE STORY INSPIRED BY MAY SWENSON)"</h2>
        <p class="art-desc">Масло на Холст | 100x80 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/pic3.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Sabrina Seck</h2>
        <h2 class="art-name">"SIDE BY SIDE"</h2>
        <p class="art-desc">Акрил на Холст | 90x90 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/pic4.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Vincent Bardou</h2>
        <h2 class="art-name">"PANDA PAINTING"</h2>
        <p class="art-desc">Рисунок распылителем краски на Холст | 100x100 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/pic5.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Maria Susarenko</h2>
        <h2 class="art-name">"ATRANI. AMALFI COAST"</h2>
        <p class="art-desc">Гелевая ручка на картон | 72x72 cm</p>
      </div>
    </section>

    <section class="section">
      <img src="images/pic6.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Vanya Georgieva</h2>
        <h2 class="art-name">"DREAM ON"</h2>
        <p class="art-desc">Картина на Льняной холст | 70x80 cm</p>
      </div>
    </section>
    <section class="section">
      <img src="images/pic7.jpg" class="image">
      <div class="art-info">
        <h2 class="author-name">Nathalie Lemaitre</h2>
        <h2 class="art-name">"SAD EYED LADY OF THE LOWLANDS"</h2>
        <p class="art-desc">Коллажи на Холст | 120x80 cm</p>
      </div>
    </section>
  </div>
  <h3>Изображения, доступные для покупки</h3>
  <div class="download-preloader">
    <h3>Идет загрузка изображений ... </h3>
    <img src="images/giphy.gif">
  </div>
  <div class="available-photos">
  </div>
  <h3>Ваша корзина</h3>
  <div class="items-bag">
  </div>
  <div class="final-buttons">
    <button class="clear-button">Очистить корзину</button>
    <button class="create-order">Создать заказ</button>
  </div>
  <script src="/scripts/pics.js"></script>
</main>