<main>
  <div class="register">
    <div class="register-input">
      <input type="text" class="register-email" placeholder="Введите email"/>
      <input type="text" class="register-name" placeholder="Введите имя для аккаунта"/>
      <input type="text" class="register-password-1" placeholder="Введите пароль"/>
      <input type="text" class="register-password-2" placeholder="Повторите пароль"/>
      <button class="register-button">Press to register</button>
    </div>
  </div>
  <script src="/scripts/register.js"></script>
</main>