<nav class="navigate">
  <ul>
    <a href="/index">
      <li>About us</li>
    </a>
    <a href="/pictures">
      <li>Pictures</li>
    </a>
    <a href="/photos">
      <li>Photos</li>
    </a>
    <a href="/wishlist">
      <li>Wish List</li>
    </a>
    <a href="/api-example">
      <li>API</li>
    </a>
  </ul>
</nav>

<hr>