<main>
  <div class="wish-list">
    <h1 class="wish-list-header"> Create your personal wish list!</h1>
    <div class="add-element">
      <input type="text" id="todo" placeholder="write your wish item here"/>
      <button id="add-btn">add</button>
      <button id="clear-btn">clear list</button>
    </div>
    <div class="element-list">
      <ul id="list">
      </ul>
      <div class="wishes-count">
        <a>Items: </a><a class="wish-list-cnt">0</a>
      </div>
    </div>
  </div>
  <script src="scripts/wishlist.js"></script>
</main>