<!DOCTYPE HTML>
<html lang="ru">
<head>
  <title>Art Gallery "The Dream"</title>
  {{>shared_scripts_styles}}
</head>
<body>
  {{>header}}
  {{>site_navigate}}
  {{>index_main}}
  {{>footer}}
</body>
</html>